{% extends 'base/base_navbar.html' %}
{% load static notifications_tags %}

<script src="{% static 'notifications/notify.js' %}" type="text/javascript"></script>

{% block content %}

<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg container" data-setbg="https://png.pngtree.com/thumb_back/fh260/background/20190220/ourmid/pngtree-upgrade-online-notification-version-replacement-cartoon-image_4317.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>Notifications</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->


<div class="container mt-5 card">
<ul class="notifications mt-3">
{% if notifications %}
  {% for notice in notifications %}
    {% include 'notifications/notice.html' %}
  {% endfor %}
{% else %}

<div class="mt-5 mb-5">
	<p class="text-danger text-center">You Don't Have Any Notifications</p>
</div>
{% endif %}

</ul>
</div>

{% endblock %}

