{% extends 'base/base_navbar.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg container" data-setbg="{% static 'img/wish_header.jpg' %}">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>Wish List</h2>
                    <div class="breadcrumb__option">
                        <a href="#">Home</a>
                        <span>Wish List</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->

<section class="container shoping-cart spad">
    <table class="ui celled violet padded table">
        <thead>
            <tr>
                <th>Products</th>
                <th>Price</th>
                <th>Available</th>
                <th>Remove</th>

            </tr>
        </thead>
        <tbody>
            {% if empty %}
            <!-- If there is no Wish objects -->
            <table class="table mt-5">
                <tbody>
                    <tr>
                        <td class="h1 text-danger mt-5">{{ empty_massage }}</td>
                    </tr>
                </tbody>
            </table>
            {% else %}
            <!-- Otherwasy it will continue under this Statemant -->
                {% for i in wishlist %}
                <!-- Start For loop -->
                <tr>
                    <td>
                        <h5 class="ui aligned header">
                            <img src="{{ i.item.images.url }}" class="ui small rounded image">
                            <a class="text-dark" href="{% url 'shop:product-details' i.item.slug %}"> {{i.item.titel|truncatechars:40}}</a>
                        </h5>
                    </td>

                    <td>$ {{ i.item.price }}</td>
                    {% if i.item.quantity > 0 %}
                    <td>
                        Product Is Available 
                        <a class="text-primery ui horizontal label violet" href="{% url 'shop:product-details' i.item.slug %}">Check Now</a>
                    </td>
                    {% else %}
                        <td> <span class="ui horizontal label violet">Out of stock</span></td>
                    {% endif %}
                    <td>
                        <a class="btn btn-md" href="{% url 'cart:remove_wish_list' i.id %}"><i class="fa fa-trash"></i></a>
                    </td>
                </tr>

            </tbody>

            {% empty %}
            <!-- If there is no cart objects -->
            <tr>
                <td class="h1">Your Wish List Is Empty</td>
            </tr>
            {% endfor %}
            <!-- End For Loop -->
            {% endif %}
        </tbody>

        <tfoot>
        </tfoot>

    </table>

</section>


{% endblock %}