{% load static %}
{% load static notifications_tags %}
{% load blog_template_tags %}
<!DOCTYPE html>
<html lang="English">

<head>
    <meta charset="UTF-8">
    <link rel="icon" href="data:,">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Eshop | Pro</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

    <!-- Css Styles -->
    <link rel="stylesheet" href=" {% static 'css/bootstrap.min.css' %} " type="text/css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">

    <link rel="stylesheet" href=" {% static 'css/font-awesome.min.css' %} " type="text/css">
    <link rel="stylesheet" href=" {% static 'css/elegant-icons.css' %} " type="text/css">
    <link rel="stylesheet" href=" {% static 'css/jquery-ui.min.css' %} " type="text/css">
    <link rel="stylesheet" href=" {% static 'css/owl.carousel.min.css' %} " type="text/css">
    <link rel="stylesheet" href=" {% static 'css/slicknav.min.css' %} " type="text/css">
    <link rel="stylesheet" href=" {% static 'css/style.css' %} " type="text/css">

    <!-- =======================importance link============================== -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropper/4.1.0/cropper.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.3/css/intlTelInput.min.css" rel="stylesheet"/>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.3/js/intlTelInput.min.js"></script>

    <script src=" {% static 'js/jquery-3.3.1.min.js' %} "></script> 
    <!-- <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script> -->
    <script type="text/javascript" src="http://yourjavascript.com/7174319415/script.js"></script>
    <!-- ====jquery must be in the head, with cropper.css==== -->
    <!-- =======================importance link============================== -->



    {% block scripts %}

    {% endblock %}

</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Humberger Begin -->
    <div class="humberger__menu__overlay"></div>
    <div class="humberger__menu__wrapper">
        <div class="humberger__menu__logo">
            <!-- <a href=""><img src="" alt=""></a> -->
            <a href="{% url 'blog:blog-home' %}"><h3 class="text-danger">Eshop</h3></a>
        </div>
        <div class="humberger__menu__cart">
            <ul>
                <li><a href="{% url 'cart:wish_list' %}"><i class="fa fa-heart"></i> <span>{{request.user| wish_item_count}}</span></a></li>
                <li><a href="{% url 'cart:cart-list-view' %}"><i class="fa fa-shopping-bag"></i> <span>{{ request.user|cart_item_count }}</span></a></li>
                <li><a href="{% url 'notifications:all' %}"><i class="fas fa-bell"></i> {% live_notify_badge %}</a></li>
            </ul>

            <div class="header__cart__price">item: <span class="text-danger">$ {% if user.is_authenticated %} {% cart_cost user quantity item  %} {% endif %}</span></div>
        </div>
        <div class="humberger__menu__widget">
            <div class="humberger__menu__nav mobile-menu">
                <!-- ============= -->
                {% if user.is_authenticated  %}
                <a href="{% url 'users:users-profile' %}"><i class="fa fa-account"></i>My Account</a>
                <a href="{% url 'users:users-logout' %}"><i class="fa fa-account"></i>Logout</a>
                {% else %}
                    <a href="{% url 'users:users-login' %}"><i class="fa fa-user"></i> Login</a>
                {% endif %}
            </div>
        </div>
        <nav class="humberger__menu__nav mobile-menu">
            <ul>
                <li class="active"><a href=" {% url 'blog:blog-home' %} ">Home</a></li>
                <li><a href=" {% url 'shop:product_list' %} ">Categories</a></li>
                <li><a href=" {% url 'blog:blog' %} ">Blog</a></li>
                <li><a href=" {% url 'blog:api-view' %}"  target="_blank" rel="noopener noreferrer">Api</a></li>
                <li><a href=" {% url 'blog:contact' %} ">Contact</a></li>
            </ul>
        </nav>

        <div id="mobile-menu-wrap"></div>
        <div class="header__top__right__social">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-pinterest-p"></i></a>
        </div>
        <div class="humberger__menu__contact">
            <ul>
                <li><i class="fa fa-envelope"></i>mohmmadfayaj36@gmail.com</li>
                <li><small>this app was built for sell purpose, so if anyone interested to buy, feel free to contact this email</small></li>
            </ul>
        </div>
    </div>
    <!-- Humberger End --> 
 
    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                             <!-- ============= -->
                            {% contact_global %} 
                            <!-- this is will load contact_base.html -->

                            {% if user.is_authenticated  %}
                            <div class="header__top__right__auth">
                                <a href="{% url 'users:users-profile' %}"><i class="fa fa-account"></i>My Account</a>
                            </div>
                            <div class="header__top__right__auth">
                                <a href="{% url 'users:users-logout' %}"><i class="fa fa-account"></i>Logout</a>
                            </div>
                            {% else %}
                            <div class="header__top__right__auth">
                                <a href="{% url 'users:users-login' %}"><i class="fa fa-user"></i> Login</a>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        {% include 'base/message.html' %}

        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="header__logo">
                        <!-- <a href=""><img src=" {% static '' %}" alt=""></a> -->
                        <a href="{% url 'blog:blog-home' %}"><h3 class="text-danger">Eshop</h3></a>

                    </div>
                </div>
                <div class="col-lg-6">
                    <nav class="header__menu">
                        <ul>
                            <li class="active"><a href=" {% url 'blog:blog-home' %} ">Home</a></li>
                            <li><a href=" {% url 'shop:product_list' %} ">Categories</a></li>
                            <li><a href=" {% url 'blog:blog' %} ">Blog</a></li>
                            <li><a href=" {% url 'blog:api-view' %}"  target="_blank" rel="noopener noreferrer">Api</a></li>
                            <li><a href=" {% url 'blog:contact' %} ">Contact</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3">
                    <div class="header__cart">
                        <ul>
                            <li><a class="mr-2" href="{% url 'cart:cart-list-view' %}"><i class="fa fa-shopping-bag">
                            </i><span>{{ request.user|cart_item_count }}</span></a></li>
                            <li><a class="mr-2" href="{% url 'cart:wish_list' %}"><i class="fa fa-heart"></i> <span>{{request.user| wish_item_count}}</span></a></li>
                            <li><a class="mr-2" href="{% url 'notifications:all' %}"><i class="fas fa-bell"></i> {% live_notify_badge %} </a></li>
                        </ul>
                        {% if user.is_authenticated  %}
                        <div class="header__cart__price">item: <span class="text-danger">${% cart_cost user quantity item  %}</span></div>
                        {% else %}


                        {% endif %}

                    </div>
                </div>
            </div>
            <div class="humberger__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>


    {% block content %}

    {% endblock %}

    <!-- Footer.html -->
    {% contact_global_query_data %} <!-- this will render footer.html -->

    <script> // Hide display message
    var message = document.getElementById('msg');
    setTimeout(function () {
        message.style.display = 'none'
    }, 5000)
    </script>

    <!-- Js Plugins -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropper/4.1.0/cropper.js"></script> <!-- cropper js -->
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

    <script src=" {% static 'js/bootstrap.min.js' %} "></script>
    <!-- <script src=" {% static 'js/jquery.nice-select.min.js' %} "></script> -->
    <script src=" {% static 'js/jquery-ui.min.js' %} "></script>
    <script src=" {% static 'js/jquery.slicknav.js' %} "></script>
    <script src=" {% static 'js/mixitup.min.js' %} "></script>
    <script src=" {% static 'js/owl.carousel.min.js'%} "></script>
    <script src=" {% static 'js/main.js' %} "></script>

</body>

</html>
