{% load static %}
{% load crispy_forms_tags %}
<link rel="stylesheet" href=" {% static 'css/bootstrap.min.css' %} " type="text/css">
<link rel="stylesheet" href=" {% static 'css/style.css' %} " type="text/css">
<script src=" {% static 'js/bootstrap.min.js' %} "></script>
<style>
	#myDiv{
		margin-top: 10rem;
	}
</style>



<div class="container shadow review p-5" id="myDIV" style="width: 100%;">
	<h5>Edit</h5>
	<form id="myForm" method="POST" enctype='multipart/form-data'>
	{% csrf_token %}
    {{form|crispy}}
  <input type="" name="next" value="{{ request.META.HTTP_REFERER }}" style="display: none;">
  <button type="submit" class="btn btn-primary btn-sm">Submit</button>

</form>
</div>


<style type="text/css">
	#id_parent {
		display: none;
	}
</style>

