{% extends 'base/base_navbar.html' %}
{% load static %}
{% load ratings %}
{% load crispy_forms_tags %}
{% load cart_template_tags %}
{% block content %}

<link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
<script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>


<!-- Product Details Section Begin -->
<section class="product-details spad">
<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6">
            <div class="product__details__pic">
                <div class="product__details__pic__item">
                    <img class="product__details__pic__item--large" 
                        src=" {{ product_details.images.url }} " alt="">
                </div>

                <div class="product__details__pic__slider owl-carousel">

                    {% if product_details.images_1 %}
                    <img src=" {{ product_details.images_1.url }}" alt="" style="width: 80%">
                    {% endif %}
                    {% if product_details.images_2 %}
                    <img src=" {{ product_details.images_2.url }}" alt="" style="width: 80%">
                    {% endif %}
                    {% if product_details.images_3 %}
                    <img src=" {{ product_details.images_3.url }}" alt="" style="width: 80%">
                    {% endif %}                

        
                </div>
            </div>
        </div>


        <div class="col-lg-6 col-md-6">
            <div class="product__details__text">
                <h4 class='ui font-weight-bold'>{{product_details.titel}}</h4> </br>
                <div class="product__details__rating">
                    {% ratings product_details %}  <!-- #came cart/cart_template_tags.py -->

                    <!-- product_details its a context variable form ProductItem Model and reviews_set(reviews its a foreignkey)(_set django convention) -->
                    <a class="jumper" href="#myForm"><span>({{ product_details.reviews_set.all|length }} reviews)</span></a>
                    <!-- href content the from id! this id came form review.html -->

                </div>
                <div class="product__details__price">${{product_details.price}}</div>

                {% if product_details.quantity < 1 %}
                <a class="primary-btn ml-2" href="{%  url 'cart:add_wish_list' product_details.slug  %}"><span class="icon_heart_alt"></span> Add to Wish List</a>
                <p class="small text-mute">Sorry Product Isn't available</p>
                {% else %}
                <a href="{% url 'cart:add_to_cart' product_details.slug %}" class="primary-btn">ADD TO CARD</a>
                {% endif %}
                
                <ul>
                    {% if product_details.quantity < 2 %}
                    <li><b>Availability</b> <span>Out of stock</span></li>
                    {% else %}
                    <li><b>Availability</b> <span>{{product_details.availability}}</span></li>
                    {% endif %}
                    {% if product_details.brand is not null %}
                    <li><b>Brand</b> <span>{{product_details.brand}}</samp></span></li>
                    {% else %}
                    <li><b>Brand</b> <span>Not Specify</samp></span></li>
                    {% endif %}

                    <li><b>Colors</b> <span>{{ product_details.colors }}</span></li>


                    <li><b>Share on</b>
                        <div class="share">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                        </div>
                    </li>

                </ul>

            </div>
        </div>

    </div>
</div>
</section>
<!-- Product Details Section End -->


<!-- tab section start -->
<section class="container">
    <div class="col-lg-12">

    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active text-danger" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Product Review</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-danger" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Product Discriptions</a>
      </li>
    </ul>

    <div class="tab-content" id="myTabContent">

    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
    {% block review %}
    {% include 'shop/review.html' %}
    {% endblock %}
    </div>

    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
    <p>{{product_details.description | safe | linebreaks}}</p>
    </div>

    <!-- <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">yghjhb</div> -->
    </div>

    </div>
</section>
<!-- tab section end -->


<!-- Related Product Section Begin -->
<section class="mt-5">
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="section-title related__product__title">
                <h2 class="text-dark">Related Product</h2>
            </div>
        </div>
    </div>

    <div class="row">

        {% for i in related_product %}
        {% if forloop.counter < 30 %}
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="product__item">
                <div class="product__item__pic set-bg" data-setbg="{{i.images.url}}">
                    <ul class="product__item__pic__hover">
                        <li><a href="#"><i class="fa fa-heart"></i></a></li>
                        <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                        <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                    </ul>
                </div>
                <div class="product__item__text">
                    <h6><a href="#">{{i.titel|truncatechars:40}}</a></h6>
                    <h5>{{i.price}}</h5>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>

    <a class="btn btn-outline-danger mt-4 mb-5" href="{% url 'shop:product_list' %}">Visit Shop Now</a>

</div>

</section>
<!-- Related Product Section End -->

{% endblock %}

{% block scripts %}

<script type="text/javascript">
    
// staty same Tab
$(document).ready(function(){
    $('a[data-toggle="tab"]').on('show.bs.tab', function(e) {
        localStorage.setItem('activeTab', $(e.target).attr('href'));
    });
    var activeTab = localStorage.getItem('activeTab');
    if(activeTab){
        $('#myTab a[href="' + activeTab + '"]').tab('show');
    }
});

//scroll down to myform
$(document).ready(function() {
  $(".jumper").on("click", function( e ) {

    e.preventDefault();

    $("body, html").animate({ 
      scrollTop: $( $(this).attr('href') ).offset().top 
    }, 600);

  });
});


</script>


{% endblock %}