{% load static %}
{% load mptt_tags %}
{% load crispy_forms_tags %}

<link rel="stylesheet" href=" {% static 'css/vartical_manu.css' %} " type="text/css">

<div class="col-lg-3 col-md-5">
<div class="sidebar">

<div class="sidebar__item">
<h4>Catagoriy</h4>

{% recursetree categories %}

<div id='cssmenu'>
<ul>
   <li class='active has-sub'><a href="{% url 'shop:category-list' node.slug %}"><span>{{ node.name }}</span></a>
      <ul>
    {% if not node.is_leaf_node %}
    {% for child in node.children.all %}
         <li class=''><a href="{% url 'shop:category-list' child.slug %}"><span>{{ child }}</span></a></li>
    {% endfor %}
    {% endif %}
      </ul>
   </li>
</ul>
</div>

{% endrecursetree %}
</div>


<div class="sidebar__item">

 <div class="price-range-wrap">
    <div class="range-slider">

     <form method="get">
        {{ filter.form.colors|as_crispy_field }}
         <p>add feature filter with star ratings</p>

        <button type="submit" id="color_search_btn" class="site-btn" style="display: none;">SEARCH</button>
     </form>
       
    </div>
 </div>
</div>

<style type="text/css">

    div.form-check:nth-child(2){
     /*font-size: 49px;*/
     color: hsl(0.0, 0.0%, 76.1%);
     font-weight: bold;
    }      
    div.form-check:nth-child(3){
     /*font-size: 49px;*/
     color: gray;
     font-weight: bold;
    }

    div.form-check:nth-child(4){
     /*font-size: 49px;*/
     color: red;
     font-weight: bold;
    }
    div.form-check:nth-child(5){
     /*font-size: 49px;*/
     color: black;
     font-weight: bold;
    }
    div.form-check:nth-child(6){
     /*font-size: 49px;*/
     color: green;
     font-weight: bold;
    }
    div.form-check:nth-child(7){
     /*font-size: 49px;*/
     color: blue;
     font-weight: bold;
    }

    #div_id_colors > label {
      font-size: 23px;
      letter-spacing: 0.01em;
      font-weight: 900;
    }

     #div_id_price > label {
      font-size: 23px;
      letter-spacing: 0.01em;
      font-weight: 900;
    }

    #div_id_brand > label {
      font-size: 23px;
      letter-spacing: 0.01em;
      font-weight: 900;

    }

</style>


<!-- <div class="sidebar__item">
    <h4>Popular Size</h4>
    <div class="sidebar__item__size">
        <label for="large">
            Large
            <input type="radio" id="large">
        </label>
    </div>
    <div class="sidebar__item__size">
        <label for="medium">
            Medium
            <input type="radio" id="medium">
        </label>
    </div>
    <div class="sidebar__item__size">
        <label for="small">
            Small
            <input type="radio" id="small">
        </label>
    </div>
    <div class="sidebar__item__size">
        <label for="tiny">
            Tiny
            <input type="radio" id="tiny">
        </label>
    </div>
</div> -->

</div>
</div>

