{% extends 'base/base_navbar.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load blog_template_tags %}
{% block content %}

<style type="text/css">


/*<div class="shadow-sm p-3 mb-5 bg-white rounded">Small shadow</div>*/
/*<div class="shadow p-3 mb-5 bg-white rounded">Regular shadow</div>*/

#id_deliverycharges{
  display: none !important;
}
#div_id_deliverycharges label {
  display: none !important;
}
.setting {
  display: none;
  color: black;
}

/*.card-profile{
display: all;
-webkit-box-shadow: 0px 2px 18px 14px rgba(222,222,222,1);
 -moz-box-shadow: 0px 2px 18px 14px rgba(222,222,222,1);
 box-shadow: 0px 2px 18px 14px rgba(222,222,222,1);
 padding: 2rem;
}
*/
#id_first_name {
  border: 1px solid #ced4da;
}


#id_last_name {
  border: 1px solid #ced4da;
}

#div_id_division > div:nth-child(2) > div:nth-child(2) {
  border: 1px solid #ced4da;
}

#id_city {
  border: 1px solid #ced4da;
}

#id_house_number {
  border: 1px solid #ced4da;
}

#tel_1 {
  border: 1px solid #ced4da;
}

#id_zone {
  border: 1px solid #ced4da;
}
#div_id_effective_delivery > div:nth-child(2) > div:nth-child(2) {
  border: 1px solid #ced4da;
}

#div_id_phone_number #tel_1 {

  margin: 1rem 0rem 0rem 0rem;
}


</style>

<!-- Checkout Section Begin -->
<section class="checkout ">
<div class="container card-profile shadow bg-white rounded">
<div class="checkout__form">

<h4>Billing Details</h4>
<!-- id="formUpload" -->
<form enctype="multipart/form-data" method="POST" id="personForm" 
      data-cities-url="{% url 'checkout:get_ajax_data_load' %}">
    {% csrf_token %}
    <div class="row">
    <div class="col-lg-8 col-md-6">

    <!-- ============================= -->

    <div class="row">
        <div class="col-lg-6">
            <div class="checkout__input">
                <p>{{ address_info_form.first_name|as_crispy_field }}</p>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="checkout__input">
                <p>{{ address_info_form.last_name|as_crispy_field }}</p>
            </div>
        </div>
    </div>

   <!-- ===================== -->
    <div class="row">
        <div class="col-lg-6">
          <div class="checkout__input">
            <p>{{ address_info_form.devision|as_crispy_field }}</p>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="checkout__input">
              <p>{{ address_info_form.city|as_crispy_field }}</p>
          </div>
        </div>
    </div>
  <!-- ==================== -->
    <div class="row">
        <div class="col-lg-6">
            <div class="checkout__input">
                <p>{{ address_info_form.house_number|as_crispy_field }}</p>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="checkout__input">
                <p>{{ address_info_form.phone_number|as_crispy_field }}</p>
            </div>
        </div>
    </div>
  <!-- ============================= -->
    <div class="row">
        <div class="col-lg-6">
            <div class="checkout__input">
                <p>{{ address_info_form.zone|as_crispy_field }}</p>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="checkout__input">
        <p>{{ address_info_form.deliverycharges|as_crispy_field }}</p>

        <p>{{ address_info_form.effective_delivery|as_crispy_field }}</p>
            </div>
        </div>
    </div>

  <!-- ============================= -->


    <p>Create an account by entering the information below. 
        If you are a returning customer
        please login at the top of the page</p>
    <div class="checkout__input">
      <p>Order notes<span>*</span></p>
      <input type="text" placeholder="Notes about your order, 
      e.g. special notes for delivery.">
    </div>


</div>


<div class="col-lg-4 col-md-6 card-profile shadow bg-white rounded p-4" id="card-profile">
  <h4>Your Order</h4>

    {% for i in order.items.all %}
    <div class="row mt-3">
      <div class="col">
        <h5 class="ui aligned header">
          <img src="{{ i.item.images.url }}" class="ui small rounded image">
          <a class="text-dark" href="{% url 'shop:product-details' i.item.slug %}"> {{i.item.titel|truncatechars:40}}</a>
        </h5>


       </div>
    </div>
    {% endfor %}<hr>
    <!-- =========================== -->
    <div class="row">
      <div class="col">

        <div id="ajax_replace"></div> <!-- Here will replace 'checkout/ajax.html' -->

       </div>
    </div>
    <!-- =========================== -->


    {% for i in address_info_list %} <!-- address_info_list loop -->

    {% if i.deliverycharges != None %} <!-- if order id  greater than one rest of th code will show in front end-->

    <hr>
    <small>Your Previous Delevery Charge Based on Devision</small>
    <div class="row mt-3">
      <div class="col">
          <small class="text-muted">Subtotal</small>
       </div>
      <div class="col">
         <small class="text-dark" style="float: right;">  {{order.show_cart_list_total}}</small>
      </div>
    </div><hr>

    <div class="row mt-3">
      <div class="col">
          <small class="text-muted">Delivery Charge</small>
       </div>
      <div class="col">
         <small class="text-dark" style="float: right;">{{ i.deliverycharges }}</small>
      </div>
    </div><hr>



    {% if i.deliverycharges.delivery_charge == None %}

    {% else %}

    <div class="row mt-3">
      <div class="col">
          <small class="text-muted">Total</small>
       </div>
      <div class="col">

       <small class="text-dark" style="float: right;">{{ order.show_cart_list_total|subtract:i.deliverycharges.delivery_charge }}</small>

    {% endif %}

      </div>
    </div><hr>

    {% endif %} <!-- end greater then  -->
 
    {% endfor %} <!-- End address_info_list loop-->


</div>    


</div>

  <button type="submit" class="site-btn mb-3 mt-3">Proceed to Pay</button>
</form>
</div>
</div>
</section>


{% block scripts %}


<script>


  $("#id_devision").change(function (a) {
    var url = $("#personForm").attr("data-cities-url");  
    var devisionId = $(this).val();
    $.ajax({  
      // initialize an AJAX request
      url: url, 
      // set the url of the request 
      data: {
        'devision': devisionId,
        // 'order' :orderId
      },
      success: function (data) {  
      // `data` is the return of the `load_cities` view function
        $("#id_deliverycharges").html(data);
        $("#ajax_replace").html(data);

      // replace the contents of the delivery_charge input with the data that came from the server
        return data;  
      }
    });

  });



 //==============================================================
  function getCookie(name) {
      var cookieValue = null;
      if (document.cookie && document.cookie != '') {
          var cookies = document.cookie.split(';');
          for (var i = 0; i < cookies.length; i++) {
              var cookie = jQuery.trim(cookies[i]);
              // Does this cookie string begin with the name we want?
              if (cookie.substring(0, name.length + 1) == (name + '=')) {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
              }
          }
      }
      return cookieValue;
  }
//============================================================


</script>


{% endblock %}



{% endblock %}