{% extends 'base/base_navbar.html' %}
{% load static %}


{% block content %}

<div class="ui floating message container mt-5">
  <strong>If you want to cancel this order feel free to go back [After you choose your payment method ther will be no cancel]</strong>
  <a href="{% url 'shop:product_list' %}" class="ui horizontal green label"> Cancel Order</a>
</div>


<div class="ui link four doubling cards container mt-5 mb-5">

  <div class="card shadow">

    <div class="">
      <a class="ui medium rounded image" href="{% url 'checkout:stripe-payment' %}"><img src="{% static 'img/payment/stripe.png' %}"></a>
    </div>

  </div>

  <div class="card shadow">

    <div class="">
      {% for i in order %}
        <a class="ui medium rounded image" href="{{i.get_absolute_url}}"><img src="{% static 'img/payment/cash.png' %}"></a>
      {% endfor %}
    </div>
    
  </div>

  <div class="card shadow">

    <div class="">
      {% for i in order %}
        <a class="ui medium rounded image" href="{% url "checkout:bkash_pyment" i.id %}"><img src="{% static 'img/payment/bkash.png' %}"></a>
      {% endfor %}
    </div>
    
  </div>

  <div class="card shadow">

    <div class="">

        <a class="ui medium rounded image" href="#"><img src="{% static 'img/payment/paypal.png' %}"></a>

    </div>

  </div>


</div>

{% endblock %}
