{% extends 'base/base_navbar.html' %}
{% block content %}
    <section class="container" style="margin-top: 8rem; margin-bottom: 10rem">
    <div class="mt-5"></div><br><hr>
    <div class="alert alert-info container mt-5">
        'We’ve emailed you instructions for setting your password,
        if an account exists with the email you entered. You should receive them shortly.'
        <p class="text-mute text-small">Please Check All mail If you don’t see an email.</p>
    </div>
    <p class="text-mute text-small container text-dark">If you don’t receive an email, 
       please make sure you’ve entered the valied email that you registered with our site, 
       Or check your <span class="font-weight-bold text-light ui violet horizontal label">spam folder</span>.</p>
    <br><hr>
    </section>
{% endblock content %}