{% extends 'base/base_navbar.html' %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags%}

{% block content %}

<style type="text/css">  
    .image {
        padding-top: 7%;
          }
    .card {
        padding: 3rem;
    }

    @media only screen and (max-width: 767px) {

    .image {
        padding: 1rem;
        margin-bottom: 2rem;
    }

}



</style>
    
<section class="container">
<div class="row" style="margin-top: 8rem; margin-bottom: 10rem">

  <div class="col-lg-4 image shadow bg-white rounded">
    <legend class="font-weight-bold text-dark">Forgot Your Password?</legend>
    <p class="">Don't worry! Just fill in your email and we'll send you a link to reset your password</p>
    <br>
  </div>

<div class="col-lg-8">
<form class="shadow bg-white rounded card" accept-charset="UTF-8" method="post" novalidate="novalidate">
  <div class="form-group">
        {% csrf_token %}
        {{form|crispy}}
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>

</form>
</div>
    
</div>
</section>

{% endblock %}





















